langchain
ipykernel
langchain_community
bs4
langchain-text-splitters
gensim
faiss-cpu
langchain_chroma
dotenv
chromadb
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain_huggingface 
sentence-transformers